[Unit]
Description=Run server-auto-update every 12 hours

[Timer]
OnBootSec=5min
OnCalendar=*-*-* 06,18:00:00
Persistent=true

[Install]
WantedBy=timers.target
